<div role="tabpanel" class="tab-pane fade in active" id="settings">
    <form>
        <button type="button" class="btn btn-primary pull-right">Add Activity</button>
        <div class="form-group">
            <label for="textinput" class="control-label">Activity Date</label>
            <input type="text" class="form-control" id="textinput" placeholder="">
        </div>
        <div class="form-group">
            <label for="textinput" class="control-label">Activity Headline</label>
            <input type="text" class="form-control" id="textinput" placeholder="">
        </div>
        <div class="form-group">
            <label for="fileinput" class="control-label">Activity Icon 1</label>
            <input type="file" id="fileinput" name="fileinput">
        </div>
        <div class="form-group">
            <label for="fileinput" class="control-label">Activity Icon 2</label>
            <input type="file" id="fileinput" name="fileinput">
        </div>
        <div class="form-group">
            <label class="control-label" for="textarea">Activity Copy</label>
            <textarea class="form-control" id="textarea" name="textarea" rows="6"></textarea>
        </div>
        <div class="form-group">
            <label for="fileinput" class="control-label">Activity Image</label>
            <input type="file" id="fileinput" name="fileinput">
        </div>
    </form>
</div>