<div role="tabpanel" class="tab-pane fade in active" id="home">
    <fieldset>
        <div class="form-group">
            <label for="textinput" class="control-label">Title</label>
            <input type="text" class="form-control" id="textinput" placeholder="" required="">
        </div>
        <div class="form-group">
            <label for="fileinput" class="control-label">Logo</label>
            <input type="file" id="fileinput" name="fileinput" required="">
        </div>
    </fieldset>
</div>

<ul class="headers">
  <li *ngFor="let header of headers" (click)="onSelect(header)"
      [class.selected]="header === selectedHero">
    <span class="badge">{{header.id}}</span>
    <span>{{header.title}}</span>
    <button class="delete"
      (click)="delete(header); $event.stopPropagation()">x</button>
  </li>
</ul>
dddd